# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
*.pkl
*.pt
*.task
*.wav
backend/yolo11n.pt
backend/models/face_landmarker.task

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# Environment
.env

# OS
Thumbs.db
.DS_Store
